annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
click==8.3.3
colorama==0.4.6
fastapi==0.136.1
h11==0.16.0
httpx==0.28.1
idna==3.13
iniconfig==2.3.0
numpy==2.4.4
packaging==26.2
pluggy==1.6.0
pyclipper==1.4.0
pydantic==2.13.3
pydantic_core==2.46.3
Pygments==2.20.0
pytest==9.0.3
python-multipart==0.0.26
passlib[bcrypt]>=1.7.4,<2.0.0
bcrypt>=4.0.1,<4.1.0
python-jose[cryptography]>=3.3.0,<4.0.0
shapely==2.1.2
SQLAlchemy>=2.0.0,<3.0.0
starlette==1.0.0
trimesh==4.12.1
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.46.0
